header {
  background-color: var(--header-green);
  width: 100%;
  padding: 0 50px;
  box-sizing: border-box;
  box-shadow: 0px 0px 7px 0px var(--dark-green);
  position: fixed;
  z-index: 99;
}

.header-container {
  display: flex;
  justify-content: space-between;
  gap: 10px;

  max-width: 1100px;
  padding: 10px 0;
  margin: auto;
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo-title {
  font-family: "Lexend Mega", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: 18px;
  color: var(--grass-green);
}

.header-nav {
  display: flex;
  align-items: center;
  gap: clamp(15px, 4vw, 60px);
}

.header-nav > a, .hamburguer-nav_list a {
  position: relative;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: normal;
  text-transform: uppercase;
  color: var(--dark-green);
}

.header-nav > a:not(.login-link):after {
  position: absolute;
  bottom: -5px;
  left: 1px;
  content: " ";
  width: 0;
  height: 2px;
  background-color: #203500b6;
  transition: 0.4s;
}

.header-nav > a:hover::after {
  width: 99%;
}

.hamburguer-nav_list_item:first-child {
  display: flex;
  justify-content: center;
}

.login-link > img {
  border-radius: 50px;
  transition: .2s;
}

.login-link > img:hover {
  outline: 1px solid var(--dark-green); /* Define a borda ao passar o mouse */
  border-radius: 50px; /* Define o raio da borda arredondada ao passar o mouse */
}

.hamburguer-menu, .hamburguer-menu-container {
  display: none;
}

@media screen and (max-width: 850px) {
  .header-nav {
    display: none;
  }

  .hamburguer-menu {
    width: 44px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 7px;
    cursor: pointer;
    margin: auto 0;
    box-sizing: border-box;
    padding-block: 5px;
  }

  .menu-streak {
    width: 40px;
    height: 5px;
    border-radius: 50px;
    background-color: var(--grass-green);
    transition: .3s;
  }

  #x-menu:checked + .hamburguer-menu > .menu-streak:first-child {
    transform: translateY(12px) rotate(45deg);
  }

  #x-menu:checked + .hamburguer-menu > .menu-streak:nth-child(2) {
    opacity: 0;
  }

  #x-menu:checked + .hamburguer-menu > .menu-streak:last-child {
    transform: translateY(-12px) rotate(135deg);
  }

  .hamburguer-menu-container {
    display: initial;
  }

  .hamburguer-nav {
    display: grid;
    place-items: center;
    position: fixed;
    width: 100vw;
    height: 100dvh;
    top: 0;
    left: 0;
    z-index: 9;
    background-color: var(--header-green);
    transform: translateY(-100dvh);
    transition: transform .5s;
  }

  .hamburguer-nav_list {
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
    height: 50%;
    font-size: 30px;
  }
}

@media screen and (max-width: 499px) {
  header {
    padding: 0 20px;
  }
}

@media screen and (max-width: 400px) {
  .logo-title {
    display: none;
  }
}