body {
  background-color: var(--light-green);
}

.header {
  padding: 10px;
}

.header > a > img {
  width: clamp(30px, 5vmin, 80px);
}

.img-container {
  display: grid;
  place-items: center;
  width: clamp(100px, 10vw, 200px);
  height: clamp(100px, 10vw, 200px);
  background-color: var(--grass-green);
  border-radius: 100px;
}

.img-container > img {
  height: 60%;
}

main {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 30px;
  padding-bottom: 20px;
}

.profile-info {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.profile-info > label, .profile-info > p {
  font-family: "Baloo 2", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-size: 22px;
}

.profile-info > input {
  font-family: "Lato", sans-serif;
  font-weight: 500;
  font-style: normal;

  width: 90%;
  max-width: 700px;
  padding: 15px 12px;
  border-radius: 15px;
  border: none;
  margin-bottom: 20px;
  font-size: 20px;
  text-align: center;
  box-sizing: border-box;

  background-color: #FFF;
  color: var(--dark-green);
}

.logout {
  font-family: "Lato", sans-serif;
  font-weight: 600;
  font-style: normal;
  gap: 5px;
  text-transform: uppercase;

  display: flex;
  align-items: center;
  background-color: #F00;
  color: #FFF;
  border: none;
  border-radius: 15px;
  padding: 10px 15px;
  cursor: pointer;
  transition: transform .2s;
  margin-top: 10px;
}

.logout:hover {
  transform: scale(1.03);
}

.logout > img {
  width: 25px;
}

.reports {
  width: 90%;
  max-width: 700px;
  font-family: "Lato", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 18px;
  text-align: center;
}

table {
  font-family: "Baloo 2", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  width: 100%;
  font-size: 14px;
}

th {
  border: 2px solid #000;
  background-color: var(--dark-green);
  color: #FFF;
}

th:not(:last-child), td:not(:last-child) {
  border-right: 0;
}

th:first-child {
  width: 10%;
}

th:nth-child(2) {
  width: 30%;
}

th:nth-child(3) {
  width: 40%;
}

th:last-child {
  width:20%;
}

th, td {
  padding: 10px;
}

td {
  border: 2px solid #000;
  border-top: 0;
  text-align: center;
  vertical-align: middle;
}